nav {
  position: relative;
}

.nav-links,
.nav-icons {
  display: none;
}

.nav-menu {
  width: 50px;
  height: 50px;
  background-color: black;
  position: fixed;
  z-index: 1;
  border: 1px solid black;
  border-radius: 5%;
  top: 10px;
  left: 10px;
}

.fa-bars {
  padding-top: 22px;
  padding-left: 10px;
}

.header-image {
  position: relative;
  overflow: hidden;
  background-image: url(../images/windsor-canada-panorama-1446829.jpg);
  height: 100vh;
  background-size: cover;
  background-color: #5b5b5b;
  background-blend-mode: overlay;
}

.header-image .image-content {
  position: absolute;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  top: 40%;
}

.header-image .scroll-down {
  position: absolute;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  bottom: 20px;
}

.background-1 {
  background-color: #e1e1e1;
}

#portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
  width: 85vw;
  margin: -4px auto 0;
  padding: 15px 0;
}

#portfolio img {
  width: 85vw;
}

#portfolio .project,
#portfolio .project-1,
#portfolio .project-2 {
  background-color: #272626;
  color: white;
  text-align: center;
}

#contact {
  display: -ms-grid;
  display: grid;
}

.get-in-touch {
  margin: 0 auto;
  width: 85vw;
  padding: 12px;
  text-align: center;
}

form {
  width: 85vw;
  margin: 0 auto;
}

fieldset {
  border-style: none;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#message,
#subject,
#email {
  width: 100%;
}

#fname,
#lname {
  width: calc(50% - 1.993px);
}

#fname,
#lname,
#subject,
#email,
#message {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  margin: 5px 0;
  background-color: #e0e0e0;
  border-style: none;
  border-radius: 2%;
}

input[type="submit"] {
  padding: 5px 25px;
  border: 2px solid black;
  border-radius: 2%;
  font-weight: 700;
  font-size: 0.8rem;
}

input[type="submit"]:hover {
  cursor: pointer;
}

input[type="text"]:focus,
textarea:focus {
  outline-color: #8788bf;
}

.top {
  width: 85vw;
  margin: 10px auto 0;
  text-align: center;
}

.about-me-container,
.coding-container,
.scs-container {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

body {
  color: #d8d6d6;
}

.background-2 {
  background-color: #272626;
}

a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #d58d71;
  text-decoration: none;
}

a:visited {
  color: #8788bf;
  text-decoration: none;
}

@media screen and (min-width: 576px) {
  #portfolio {
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #portfolio img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .nav-icons {
    display: inline-block;
    width: 50px;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background-color: #111;
    border-right: 2px solid #302c46;
    top: 0px;
  }
  .nav-icons .fa-solid {
    margin: 5vh 0 5vh 7px;
  }
  .nav-icons .fa-github-square {
    margin: 5vh 0 5vh 7px;
  }
  .nav-menu {
    display: none;
  }
  nav {
    width: 50px;
  }
  .image-content,
  .scroll-down {
    left: 50px;
  }
  #portfolio {
    margin-left: 10vw;
    margin-right: 0;
  }
  #contact {
    margin-left: 10vw;
  }
  .get-in-touch {
    margin-left: -17px;
  }
  form {
    width: 84vw;
    margin: 0 10vw 0 0;
  }
  .top {
    margin: 10px 10vw 0;
  }
}

@media screen and (min-width: 992px) {
  .nav-icons {
    display: none;
  }
  .nav-links {
    display: inline-block;
    width: 100px;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background-color: #111;
    border-right: 2px solid #302c46;
    top: 0px;
  }
  .nav-links ul {
    list-style: none;
    padding-left: 10px;
    font-size: 0.95rem;
  }
  .nav-links li {
    margin: 55px 0;
  }
  .container {
    width: 88vw;
    margin-left: 10vw;
  }
  #portfolio {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    width: 800px;
  }
  .background-2 {
    padding: 10px 0;
  }
  #contact {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 800px;
  }
  .get-in-touch {
    width: 300px;
    text-align: left;
  }
  form {
    width: 500px;
  }
  .top {
    margin: 25px auto 10px;
  }
}

@media screen and (min-width: 1200px) {
  #portfolio {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    width: 1000px;
  }
  #portfolio .project-1 {
    grid-column-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  #portfolio .project-2 {
    grid-column-end: 5;
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  #portfolio .project {
    height: 280px;
  }
  .background-1 .container {
    height: 800px;
  }
  #contact {
    width: 1000px;
  }
  .get-in-touch {
    width: 300px;
  }
  form {
    width: 700px;
  }
}
/*# sourceMappingURL=base.css.map */