// imports
@import "index";
@import "pages";

// base styles

body {

    // background-color: rgb(39, 38, 38);
    color:rgb(216, 214, 214);
    font-family: 'Nunito', sans-serif;
}

.background-2 {

    background-color: rgb(39, 38, 38);
}

a {

    width: fit-content;
    color: #d58d71;
    text-decoration: none;


    &:visited {

        color: #8788bf;
        text-decoration: none;
    }
}

.nav-icons {

    display: none;
    width: 50px;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background-color: #111;
    border-right: 2px solid #302c46;
    top: 0px;

    & .fa-solid {

        margin: 5vh 0 5vh 7px;

        &:hover {

            color: white;
        }
    }

    & .fa-github-square {

        margin: 5vh 0 5vh 8px;

        &:hover {

            color: white;
        }
    }

    & .fa-person {

        margin-left: 12px;
    }

    & .fa-copy,
    & .fa-comment-dots {

        margin-left: 10px;
    }

    & .fa-times-circle {

        font-size: 1.4rem;
        position: absolute;
        top: 10px;
        left: 59px;
        color: rgb(201, 49, 49);
    }


}

.logo {
        
    font-size: 1rem;
    text-align: center;
    border: 5px solid #302c46;
    background-color: #d58d71;

    & p {

        -webkit-text-stroke: 0.1px black;
            color: white;
            text-shadow:
                3px 3px 0 #000,
              -1px -1px 0 #000,  
               1px -1px 0 #000,
               -1px 1px 0 #000,
                1px 1px 0 #000;

    }

    &:hover {

                background: radial-gradient(#d58d71, #b1745c);
            }

}

.error {

    display: inline-block;
    color: rgb(201, 49, 49);
    width: fit-content;
    margin-left: 10px;
    font-size: 1.1rem;
}

.image-content {


    & .header-name {

        // display: none;
        // position: relative;
        // // font-size: 0.1rem;
        opacity: 0;
    }
}


// media queries

@import "media-queries";