nav {

    position: relative;
}

.nav-links,
.nav-icons {

    display: none;
}

.nav-menu {

    width: 50px;
    height: 50px;
    background-color: black;
    position: fixed;
    z-index: 1;
    border: 1px solid black;
    border-radius: 5%;
    top: 10px;
    left: 10px;
}

.fa-bars {

    padding-top: 22px;
    padding-left: 10px;
}

.header-image {

    position: relative;
    overflow: hidden;
    background-image: url(../images/windsor-canada-panorama-1446829.jpg);
    height: 100vh;
    background-size: cover;
    background-color: #5b5b5b;
    background-blend-mode: overlay;

    // & img {

    //     height: 100vh;
    // }

    & .image-content {

        position: absolute;
        width: 100vw;
        margin: 0 auto;
        text-align: center;
        top: 40%;

        & h1,
        & p {

            -webkit-text-stroke: 0.1px black;
            color: white;
            text-shadow:
                3px 3px 0 #000,
              -1px -1px 0 #000,  
               1px -1px 0 #000,
               -1px 1px 0 #000,
                1px 1px 0 #000;
        }
    }

    & .scroll-down {

        position: absolute;
        width: 100vw;
        margin: 0 auto;
        text-align: center;
        bottom: 20px;
        -webkit-text-stroke: 0.1px black;
        text-shadow:
            3px 3px 0 #000,
          -1px -1px 0 #000,  
           1px -1px 0 #000,
           -1px 1px 0 #000,
            1px 1px 0 #000;

    }

}

.scroll-down,
.top {

    & a {

        color: white;

        &:hover {

            color: inherit;
        }

        // &:visited {

        //     color: unset;
        // }

    }

}

.background-1 {

    background-color: #e1e1e1;
}

#portfolio {

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 85vw;
    margin: -4px auto 0;
    padding: 15px 0;

    & img {

        width: 85vw;

    }

    & .project,
    & .project-1,
    & .project-2 {

        background-color: #272626;
        color: white;
        text-align: center;
    }
}

#contact {

   display: grid;
}

.get-in-touch {

    margin: 0 auto;
    width: 85vw;
    padding: 12px;
    text-align: center;
}

form {

    width: 85vw;
    margin: 0 auto;
}

fieldset {

    border-style: none;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
}


#message,
#subject,
#email  {

    width: 100%;
}

#fname,
#lname {

    width: calc(50% - 2.1px);
    font-size: 90%;
}

#fname,
#lname,
#subject,
#email,
#message {

    box-sizing: border-box;
    padding: 5px;
    margin: 5px 0;
    background-color: rgb(224, 224, 224);
    border-style: none;
    border-radius: 2%;
}

input[type="submit"] {

    padding: 5px 25px;
    border: 2px solid black;
    border-radius: 2%;
    font-weight: 700;
    font-size: 0.8rem;

    &:hover {

        cursor: pointer;
    }
}

input[type="text"],
textarea {

    &:focus {

        outline-color: #8788bf; 
        // doesn't work
    }
}

.top {

    width: 85vw;
    margin: 10px auto 0;
    text-align: center;
}