.header-image {

    position: relative;
    overflow: hidden;

    & img {

        height: 100vh;
    }

    & .image-content {

        position: absolute;
        width: 100vw;
        margin: 0 auto;
        text-align: center;
        top: 40%;
    }

    & .scroll-down {

        position: absolute;
        width: 100vw;
        margin: 0 auto;
        text-align: center;
        bottom: 20px;
    }

}

#portfolio {

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 85vw;
    margin: 15px auto;

    & img {

        width: 85vw;

    }
}

#contact {

    width: 85vw;
    margin: 0 auto;
}

.top {

    width: 85vw;
    margin: 10px auto;
    text-align: center;
}