@media screen and (min-width: 576px) {

    #portfolio {

        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;

        & img {

            width: 100%;
        }
    }
}

@media screen and (min-width: 768px) {

    .nav-icons {

        display: inline-block;
        width: 50px;
        height: 100vh;
        position: fixed;
        z-index: 1;
        background-color: #111;
        border-right: 2px solid #302c46;
        top: 0px;

        & .fa-solid {

            margin: 5vh 0 5vh 7px;
        }

        & .fa-github-square {

            margin: 5vh 0 5vh 8px;
        }

        & .fa-person {

            margin-left: 12px;
        }

        & .fa-copy,
        & .fa-comment-dots {

            margin-left: 10px;
        }
    }

    .logo {
        
        font-size: 1rem;
        text-align: center;
        border: 5px solid #302c46;
        background-color: #d58d71;

        & p {

            -webkit-text-stroke: 0.1px black;
                color: white;
                text-shadow:
                    3px 3px 0 #000,
                  -1px -1px 0 #000,  
                   1px -1px 0 #000,
                   -1px 1px 0 #000,
                    1px 1px 0 #000;

        }

        &:hover {

            background: radial-gradient(#d58d71, #b1745c);
        }

    }

    .nav-menu {

        display: none;
    }

    nav {

        width: 50px;
    }

    .image-content,
    .scroll-down {

        // left: 50px;
        width: 100%;

    }

    .header-container {

        width: 95vw;
        margin-left: 3.5vw;
    }

    #portfolio {

        margin-left: 10vw;
        margin-right: 0;
    }

    #contact {

        margin-left: 10vw;
    }

    .get-in-touch {

        margin-left: -17px;
    }

    form {

        width: 84vw;
        margin: 0 10vw 0 0;
    }

    .top {

        margin: 10px 10vw 0;
    }

    .about-me-container,
    .coding-container,
    .scs-container {

        margin: 0 0 0 15vw;
    }

    // .top-image {

    //     & .text-container {

    //         width: 600px;
    //         margin-left: 15vw;
    //     }
    // }
}

@media screen and (min-width: 992px) {

    .nav-icons {

        display: none;
    }

    .nav-links {

        display: inline-block;
        width: 100px;
        height: 100vh;
        position: fixed;
        z-index: 1;
        background-color: #111;
        border-right: 2px solid #302c46;
        top: 0px;

        & .logo {

            font-size: 2rem;
        }

      & ul {

        list-style: none;
        padding-left: 0px;
        font-size: 0.8rem;
        text-align: center;
        }

      & li {

        margin: 55px 0;
        }

    //   & .fa-github-square {

    //     margin-left: 20px;
    //     }
    }

    .header-container {

        width: 95vw;
        margin-left: 4vw;
    }

    .container {

        width: 88vw;
        margin-left: 10vw;
    }

    #portfolio {

        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
        width: 800px;
    }

    .background-2 {

        padding: 10px 0;
    }

    #contact {

        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        width: 800px;
    }

    .get-in-touch {

        width: 290px;
        text-align: left;
        padding-right: 15px;
    }

    form {

        width: 500px;
    }

    .top {

        margin: 25px auto 10px;
    }

    .about-me-container,
    .coding-container,
    .scs-container {

        margin: 0 0 0 12vw;
        width: 84vw;
    }

    .about-me,
    .coding,
    .scs {

        width: 800px;
        margin: 0 auto;
    }

    .top-image {

        & .text-container {

            & h1 {

                left: 120px;
            }
        }
    }

}

@media screen and (min-width: 1200px) {


    .image-content {

        & h1 {

            font-size: 3rem;
        }

        & p {

            font-size: 1.5rem;
        }
    }

    #portfolio {

        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0 auto;
        width: 1000px;

        & .project-1 {

            grid-column-end: 3;
            grid-column-start: 1;

        }

        & .project-2 {


            grid-column-end: 5;
            grid-column-start: 3;
        }

        & .project {

            height: 280px;
        }
    }

    .background-1 {

        & .container {

            height: 800px;
        }
    }

    #contact {

        width: 1000px;
    }

    // .get-in-touch {

    //     width: 300px;
    // }

    form {

        width: 700px;
    }

    .about-me,
    .coding,
    .scs {

        width: 1000px;
    }

}