.about-me-container,
.coding-container,
.scs-container {

    margin: 50px auto 0;
    width: 75vw;
}

.about-me,
.coding,
.scs {

    text-align: center;
    color: black;
}

// change this, needs to have a margin container like the index, scs scheme
// page overlaps into nav bar, change up html to add this to lower container
// and add the margin and width like the index