.about-me-container,
.coding-container,
.scs-container {

    margin: 0 auto 0;
    width: 75vw;
    padding-top: 50px;
}

.about-me-background,
.coding-background,
.scs-background {

    background: linear-gradient(#ececec, white);
    height: 90vh;

}

.about-me {

    color: black;
}

.coding,
.scs {

    text-align: center;
    color: black;
}

.overflow-container {

    max-width: 100vw;
    overflow: hidden;

}

.top-image {

    width: 2000px;
    height: 80px;
    background-image: url(../images/windsor-canada-panorama-1446829.jpg);
    // margin-top: -21px;
    background-position: 30% 65%;
    background-size: cover;

    & .text-container {

        // width: 80vw;
        // margin-left: 15vw;
        position: relative;

        & h1 {

            padding-top: 20px;
            -webkit-text-stroke: 0.1px black;
            color: white;
            text-shadow:
                3px 3px 0 #000,
                -1px -1px 0 #000,  
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
            position: absolute;
            left: 70px;
            top: -20px;
        }

    }
}

// .intro-scs {

//     background-color: #111;
// }

.about-me,
.coding,
.intro-scs {

    & h1 {

        font-size: 2.6rem;
        width: fit-content;
        // border-bottom: 3px solid black;
        margin: 0 auto 40px;
    }
}

.about-me,
.coding,
.scs {

    padding-bottom: 20px;

}

.scs {

    & h2 {

        font-size: 2rem;
        width: fit-content;
        // border-bottom: 3px solid black;
        margin: 30px auto 30px;

    }
}

.treehouse {

    font-size: 1.5rem;
}

.netmatters-content {

    display: inline-flex;

    & img {

        width: 40px;
        padding-top: 27px;
        padding-right: 10px;
    }
}

.about-me {

    & img {

        width: 150px;
        border: 2px solid black;
        border-radius: 50%;
        margin: 0 auto 10px;
        display: block;
    }
}

pre {

    border: 2px solid black;
    height: 40vh;

    & code[class*="language-"] {

        font-size: 0.8rem;
    }
}