.about-me-container,
.coding-container,
.scs-container {

    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

// change this, needs to have a margin container like the index, scs scheme
// page overlaps into nav bar, change up html to add this to lower container
// and add the margin and width like the index